<template>
  <div class="app-layout">

    <div class="main-menu">
      <ul>
        <li class="main-menu__item main-menu__item--solid">
          <router-link to="/">
            <a>Home</a>
          </router-link>
        </li>
        <li class="main-menu__item">
          <router-link to="/about">
            <a>About</a>
          </router-link>
        </li>
        <li class="main-menu__item">
          <router-link to="/whatever">
            <a>What ever</a>
          </router-link>
        </li>
      </ul>
    </div>

    <div class="application-view">
      <router-view></router-view>
    </div>
  </div>
</template>
<script>
  export default {
    mounted() {
      this.$http.get("/api/tiles").then(response => {

        if (!response.data.success
           || !response.data.tiles) {

          this.$store.state.errorLoadingTiles = !!response.data.success;
          this.$store.state.tiles = [];
          return;
        }
        this.$store.state.tiles = response.data.tiles;
      }, error => {
        this.$store.state.errorLoadingTiles = true;
        this.$store.state.tiles = [];
      });
    }
  };
</script>
<style>
  body {
    margin: 0 8px 0 8px;
  }
  .main-menu {
    position: fixed;
    background: #eee;
    height: 50px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
  }
  .main-menu__item {
    display: inline;
    height: 100%;
    padding: 10px 10px 10px 10px;
  }

  .main-menu__item a {
    color: black;
  }

  .main-menu__item--solid a {
    font-weight: bold;
    text-decoration: none;
  }

  .application-view {
    margin-top: 58px;
    width: 100%;
  }
</style>
