<template>
  <div>
    <div v-if="serverError">
      <h1>
        Error loading the server data. Please try again later
      </h1>
    </div>
    <div v-if="!article && !serverError">
      <h1>
        Article not found
      </h1>
    </div>
    <div v-if="article && !serverError">
      <h1>
        {{article.title}}
      </h1>
      <div>
        {{article.text}}
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        serverError: false,
        article: null
      }
    },
    mounted() {

      if (!this.$route.params.id) {
        this.article = [];
        return;
      }

      let query = "/api/tiles/" + this.$route.params.id;

      this.$http.get(query).then(response => {

        this.serverError = !!response.data.error;
        this.article = (response.data.error) ? []: response.data.data;
      }, error => {
        this.serverError = true;
      });
    },
  }
</script>

<style>
</style>