<template>
  <div>

    <div v-if="loadDataError">
      <h1>
        Error loading the server data. Please try again later
      </h1>
    </div>

    <div v-if="tiles && !tiles.length">
      <h1>
        There are no articles available
      </h1>
    </div>

    <div class="tile-block"
         v-if="!loadDataError && tiles && tiles.length"
         v-bind:class="{ 'tile-block-double': t.type == 'double' }"
         v-for="t in tiles">

      <router-link
        class="tile-block-frame"
        :to="{ name: 'article', params: { id: t.id } }">

        <div class="tile-block-frame__title">{{t.title}}</div>
        <div class="tile-block-frame__description">{{t.description}}</div>

      </router-link>
    </div>
  </div>
</template>

<script>
  export default {
    computed: {
      loadDataError() {
        return this.$store.state.errorLoadingTiles;
      },
      tiles() {
        return this.$store.state.tiles || [];
      }
    },
  }
</script>

<style>

  .tile-block {
    display: inline-block;
    width: 33.333%;
  }
  .tile-block-double {
    display: inline-block;
    width: 66.666%;
  }

  .tile-block-frame {
    margin: 8px;
    height: 240px;
    display: block;
    padding: 8px;
    overflow: hidden;
    text-decoration: none;
    background-image: url('http://placekitten.com/650/650');
    background-position: center top;
  }

  .tile-block-double .tile-block-frame {
    background-image: url('http://placekitten.com/1400/1400');
    background-position: center 35%;
  }

  .tile-block-frame__title {
    position: relative;
    top: 10px;
    left: 0px;
    width: 100%;
    color: white;
    font-weight: bold;
    font-size: 24px;
  }
  .tile-block-frame__description {
    position: relative;
    top: 30px;
    left: 0px;
    color: white;
    width: 100%;
  }

   /* mobile */
  @media (max-width: 480px) {

    .tile-block {
      width: 100%;
    }
    .tile-block-double {
      width: 100%;
    }
  }

  /* tablet */
  @media (min-width: 480px) and (max-width: 1024px) {

    .tile-block {
      width: 50%;
    }
    .tile-block-double {
      width: 100%;
    }
  }

  /* desktop */
  @media (min-width: 1024px) {

    .tile-block {
      width: 33.333%;
    }
    .tile-block-double {
      width: 66.666%;
    }
  }

</style>